/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
    padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Set core body defaults */
body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
    list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////////*/

#gameBoard-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
}

header>h1 {
    padding: 30px;
}

.sub-header {
    max-width: 800px;
    font-size: 20px;
}

p:nth-child(2) {
    color: red;
}

#gameBoard {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    gap: 10px;
    max-width: 610px;
    margin: 30px;
}

.box {
    background-color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 180px;
}

#playerWrapper {
    text-align: center;
    margin: 25px;
    width: 20%;
}

#playerTurn {
    font-size: 38px;
}

#playerInfo {
    display: flex;
    justify-content: space-between;
}

.players {
    max-width: 150px;
    margin: 20px;
    padding: 20px;
    font-size: 21px;
}